/*rESET BÁSICO*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    line-height: 1.6;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

header{
    background-color: rgb(233, 198, 108);
    color: white;
    padding: 20;
    text-align: center;
}

nav .logo {
    height: 50px; /* Tamaño del logo */
    margin-right: 20px; /* Espacio entre logo y los enlaces */
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline; /*Muestra en linea para hacer una barra de mavegación*/
    margin-right: 15px;
}